{#----------------#}
{# templates/list.html.twig #}
{#----------------#}

{% extends '_base.html.twig' %}

{% block title %}error{% endblock %}

{% block main %}

    <h1>404 - not found error</h1>

    <p>
        sorry the resource you requested could not be found
    </p>
{% endblock %}
