{#----------------#}
{# templates/list.html.twig #}
{#----------------#}

{% extends '_base.html.twig' %}

{% block title %}home{% endblock %}

{% block main %}

    <h1>A great website - with user authentication yay</h1>

    <p>
        hi there, learn more about me by clicking my <a href="/about">about</a> link
    </p>
{% endblock %}
