{#----------------#}
{# templates/error.html.twig #}
{#----------------#}

{% extends '_base.html.twig' %}

{% block title %}error page{% endblock %}

{% block main %}
<h1>whoops !</h1>

<p class="error">
    {{ message }}
</p>
{% endblock %}