{#----------------#}
{# templates/admin.html.twig #}
{#----------------#}

{% extends '_base.html.twig' %}

{% block title %}admin codes{% endblock %}

{% block main %}

    <h1>Here are today's secret agent codes</h1>

    <ul>
        <li>
            q: how is the weather in Limerick?
            <br>
            a: wet and windy for this time of year
        </li>

        <li>
            q: Is that the New York Stamp Collector Annual you are reading?
            <br>
            a: yes, philately is my favourite hobby for this time of year
        </li>

        <li>
            q: good weather for ducks!
            <br>
            a: yes, they like the wind and rain this time of year
        </li>
    </ul>

{% endblock %}