{#----------------#}
{# templates/show.html.twig #}
{#----------------#}


{% extends '_base.html.twig' %}

{% block title %}about{% endblock %}

{% block main %}
<h1>About</h1>

<p>
    we create fantastic websites ...
</p>

<p>
    state your favourite ice cream:
    <br>
    <a href="/iceCream/chocolate">choc</a>
    <br>
    <a href="/iceCream/mint">mint</a>
    <br>
    <a href="/iceCream/banana">bananana</a>
</p>

{% endblock %}
