{#----------------#}
{# templates/admin.html.twig #}
{#----------------#}

{% extends '_base.html.twig' %}

{% block title %}admin home{% endblock %}

{% block main %}

    <h1>Welcome to the Admin home page !</h1>

{% endblock %}