{#----------------#}
{# templates/show.html.twig #}
{#----------------#}


{% extends '_base.html.twig' %}

{% block title %}one dvd page{% endblock %}

{% block main %}

    <p>
        hello {{ name }}
    </p>

{% endblock %}
