{#----------------#}
{# templates/list.html.twig #}
{#----------------#}

{% extends '_base.html.twig' %}

{% block title %}error{% endblock %}

{% block main %}

    <h1>general error - not found erorr</h1>

    <p>
        {{ message }}
    </p>
{% endblock %}
